# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/simpleTexture3D_vs2019/v16/ipch/AutoPCH/dcdb79b9e6a815ad/SIMPLETEXTURE3D.ipch
.vs/simpleTexture3D_vs2019/v16/Browse.VC.opendb
.vs/simpleTexture3D_vs2019/v16/Browse.VC.db-wal
.vs/simpleTexture3D_vs2019/v16/Browse.VC.db-shm
.vs/simpleTexture3D_vs2019/v16/Browse.VC.db
.vs/simpleTexture3D_vs2019/v16/.suo
.vs/physarum/v16/ipch/AutoPCH/e9bb2a75f2d1ecb8/PHYSARUM_KERNEL.BAK.ipch
.vs/physarum/v16/ipch/AutoPCH/e77aa7e4ecab2d0f/PARTICLE.ipch
.vs/physarum/v16/ipch/AutoPCH/e020302ac3f9a8ea/RANDOM.ipch
.vs/physarum/v16/ipch/AutoPCH/d884a17a10edcda/PHYSARUM_KERNEL.ipch
.vs/physarum/v16/ipch/AutoPCH/d4765920e4e2617d/PARTICLE.ipch
.vs/physarum/v16/ipch/AutoPCH/d2eeaec35031415d/PHYSARUM.ipch
.vs/physarum/v16/ipch/AutoPCH/d05a7aab01398b46/RANDOM.ipch
.vs/physarum/v16/ipch/AutoPCH/a058b47ab9b3d284/PHYSARUM_KERNEL.ipch
.vs/physarum/v16/ipch/AutoPCH/59e5bd74c0b31633/PHYSARUM.ipch
.vs/physarum/v16/ipch/AutoPCH/514ca990fa1d7f15/TRAILMAP.ipch
.vs/physarum/v16/ipch/AutoPCH/42c37e59001f6b07/TRAILMAP.ipch
.vs/physarum/v16/Browse.VC.db
.vs/physarum/v16/.suo
.vs/simpleTexture3D_vs2019/v16/ipch/AutoPCH/dcdb79b9e6a815ad/SIMPLETEXTURE3D.ipch
.vs/simpleTexture3D_vs2019/v16/Browse.VC.opendb
.vs/simpleTexture3D_vs2019/v16/Browse.VC.db-wal
.vs/simpleTexture3D_vs2019/v16/Browse.VC.db-shm
.vs/simpleTexture3D_vs2019/v16/Browse.VC.db
.vs/simpleTexture3D_vs2019/v16/.suo
.vs/physarum/v16/ipch/AutoPCH/e9bb2a75f2d1ecb8/PHYSARUM_KERNEL.BAK.ipch
.vs/physarum/v16/ipch/AutoPCH/e77aa7e4ecab2d0f/PARTICLE.ipch
.vs/physarum/v16/ipch/AutoPCH/e020302ac3f9a8ea/RANDOM.ipch
.vs/physarum/v16/ipch/AutoPCH/d884a17a10edcda/PHYSARUM_KERNEL.ipch
.vs/physarum/v16/ipch/AutoPCH/d4765920e4e2617d/PARTICLE.ipch
.vs/physarum/v16/ipch/AutoPCH/d2eeaec35031415d/PHYSARUM.ipch
.vs/physarum/v16/ipch/AutoPCH/d05a7aab01398b46/RANDOM.ipch
.vs/physarum/v16/ipch/AutoPCH/a058b47ab9b3d284/PHYSARUM_KERNEL.ipch
.vs/physarum/v16/ipch/AutoPCH/59e5bd74c0b31633/PHYSARUM.ipch
.vs/physarum/v16/ipch/AutoPCH/514ca990fa1d7f15/TRAILMAP.ipch
.vs/physarum/v16/ipch/AutoPCH/42c37e59001f6b07/TRAILMAP.ipch
.vs/physarum/v16/Browse.VC.db
.vs/physarum/v16/.suo
physarum_kernel.cu.new
physarum_kernel.cu.bak
physarum.vcxproj.user
physarum.vcxproj
physarum.sln
physarum.cpp.bak
x64/Debug/physarum.Build.CppClean.log
x64/Debug/physarum.exe.recipe
x64/Debug/physarum.exp
x64/Debug/physarum.log
x64/Debug/physarum.pdb
x64/Debug/physarum.tlog/CL.command.1.tlog
x64/Debug/physarum.tlog/CL.read.1.tlog
x64/Debug/physarum.tlog/CL.write.1.tlog
x64/Debug/physarum.tlog/CudaCompile.read.1u.tlog
x64/Debug/physarum.tlog/CudaCompile.write.1u.tlog
x64/Debug/physarum.tlog/link.command.1.tlog
x64/Debug/physarum.tlog/link.read.1.tlog
x64/Debug/physarum.tlog/link.write.1.tlog
x64/Debug/physarum.tlog/physarum.lastbuildstate
x64/Debug/physarum.tlog/physarum.write.1u.tlog
x64/Debug/physarum.vcxproj.FileListAbsolute.txt
x64/Debug/physarum_kernel.cu-1712400129.deps
x64/Debug/physarum_kernel.cu.cache
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/vcpkg.applocal.log
x64/Release/particle.cu752127300.deps
x64/Release/physarum.Build.CppClean.log
x64/Release/physarum.exe.recipe
x64/Release/physarum.iobj
x64/Release/physarum.log
x64/Release/physarum.tlog/CL.command.1.tlog
x64/Release/physarum.tlog/CL.read.1.tlog
x64/Release/physarum.tlog/CL.write.1.tlog
x64/Release/physarum.tlog/CudaCompile.read.1u.tlog
x64/Release/physarum.tlog/CudaCompile.write.1u.tlog
x64/Release/physarum.tlog/link.command.1.tlog
x64/Release/physarum.tlog/link.read.1.tlog
x64/Release/physarum.tlog/link.write.1.tlog
x64/Release/physarum.tlog/physarum.lastbuildstate
x64/Release/physarum.tlog/physarum.write.1u.tlog
x64/Release/physarum.vcxproj.FileListAbsolute.txt
x64/Release/physarum_kernel.cu-1712400129.deps
x64/Release/physarum_kernel.cu.bak-846103522.deps
x64/Release/physarum_kernel.cu.cache
x64/Release/random.cu-510044832.deps
x64/Release/trailmap.cu-638695000.deps
x64/Release/vc142.pdb
x64/Release/vcpkg.applocal.log
*.db
*.ipch
*.db-shm
*.db-wal
*.opendb
